@use "../../styles/variables" as vars;

.tag {
    display: flex;
    align-items: center;
    justify-content: flex;
    background-color: transparent;
    border: 1px solid rgba(238, 238, 238, 0.2);
    height: 24px;
    border-radius: 4px;
    padding: 0px 12px 0px 12px;

    .label {
        font-family: vars.$font;
        color: rgba(255, 255, 255, 0.38);
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.current {
    background-color: rgb(255, 109, 58);
    border-color: transparent;

    .label {
        color: rgb(10, 10, 14);
    }
}