@use "../../styles/variables" as vars;

.card-detail{
    background-color: rgb(32,21,22);
    border: 1px solid vars.$accent;
    border-radius: 8px;
    padding: min(16px, 30%);
    border: 1px solid rgba(255, 109, 58, 0.15);
    

    .title {
        font-family: vars.$font;
        color: vars.$accent;
        display: flex;
        font-size: 10px;
        letter-spacing: 1px;
        padding: 4px;
        text-transform: uppercase;
    }

    .detail {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        gap: 12px;
        align-items: center;
        padding: 8px;
        font-family: vars.$font;

        .icon {
            color: vars.$accent;
            text-align: center;
            font-size: 12px;
            width: 18px;
        }

        .detail-type {
            color: rgba(255, 255, 255, 0.28);
            font-size: 10px;
            text-transform: uppercase;
            width: 50px;
        }

        .description {
            color: rgba(255, 255, 255, 0.58);
            font-size: 10px;
        }
    }
}